! Catppuccin Mocha color scheme
*background: #1E1E2E
*foreground: #CDD6F4

! black
*color0: #45475A
*color8: #585B70

! red
*color1: #F38BA8
*color9: #F38BA8

! green
*color2: #A6E3A1
*color10: #A6E3A1

! yellow
*color3: #F9E2AF
*color11: #F9E2AF

! blue
*color4: #89B4FA
*color12: #89B4FA

! magenta
*color5: #F5C2E7
*color13: #F5C2E7

! cyan
*color6: #94E2D5
*color14: #94E2D5

! white
*color7: #BAC2DE
*color15: #A6ADC8

! rxvt-unicode specific settings
!URxvt.font: xft:Source\ Code\ Pro\ for\ Powerline:size=11:antialias=true:hinting=true,xft:PowerlineSymbols
URxvt.font: xft:Mononoki:size=14:antialias=true:hinting=true,xft:PowerlineSymbols
URxvt.scrollBar:          False
URxvt.depth:              32
URxvt.intensityStyles:    True

! It''s very important to tune this variable before using any of the Powerline fonts.
! See https://github.com/powerline/fonts/issues/176
URxvt.letterSpace: 0


! Colors for bold, italic and underlined text. Mostly for the man pages
URxvt.colorIT: #000000
URxvt.colorBD: #40C4FF
URxvt.colorUL: #FF4081

! Fade the terminal a bit if not focused
URxvt*fading: 7


! DPI for hi-resolution screens
Xft.dpi: 144
Xft.antialias: 1
