! Materialshell colorscheme: https://github.com/carloscuesta/materialshell
*background: #263238
*foreground: #A1B0B8

! black dark/light
*color0: #5D6F71
*color8: #F5F5F5

! red dark/light
*color1: #FF5252
*color9: #FF443E

! green dark/light
*color2: #C3D82C
*color10: #CDDC39

! yellow dark/light
*color3: #FFC135
*color11: #FFD740

! blue dark/light
*color4: #40C4FF
*color12: #42A5F5

! magenta dark/light
*color5: #D81B60
*color13: #FF4081

! cyan dark/light
*color6: #00ACC1
*color14: #18FFFF

! white dark/light
*color7: #F5F5F5
*color15: #F5F5F5


! rxvt-unicode specific settings
!URxvt.font: xft:Source\ Code\ Pro\ for\ Powerline:size=11:antialias=true:hinting=true,xft:PowerlineSymbols
URxvt.font: xft:Mononoki:size=12:antialias=true:hinting=true,xft:PowerlineSymbols
URxvt.scrollBar:          False
URxvt.depth:              32
URxvt.intensityStyles:    True

!! It''s very important to tune this variable before using any of the Powerline fonts.
! See https://github.com/powerline/fonts/issues/176
URxvt.letterSpace: 0
